@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $color-primary;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 4rem;
    letter-spacing: -2px;
}

h2 {
    background: linear-gradient(to right, $color-quaternary, $color-secondary);
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    margin-bottom: 0;

}

h3 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 4rem;
}
