$color-primary: rgb(25, 24, 38);
$color-secondary: rgb(120, 79, 203);
$color-tertiary: rgb(106, 69, 182);
$color-quaternary: rgb(66, 41, 178);
$color-highlight: rgb(18, 16, 33);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
