@import '../../styles/colors';
@import '../../styles/mixins';

.footer {
    color: $color-white;
    margin-bottom: 5rem;

    &__images {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex: 0 0 50%;
        max-width: 50%;
        flex-wrap: wrap;

        @include respond(phone) {
            margin-left: 8.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
            justify-content: space-between;
            margin-bottom: 2rem;
            padding: 0;
        }

        & a {
            margin: 0;

            @include respond(phone) {
                margin: 0 auto 1rem;
            }

            & img {
                width: 170px;
            }
        }
    }

    &__description {
        flex: 0 0 50%;
        max-width: 50%;

        @include respond(phone) {
            margin-left: 8.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
            padding: 0;
        }

        & h1 {
            margin-bottom: 2rem;
        }

        & p {
            margin-bottom: 0;
            font-weight: 600;
        }
    }

}
